@model List<SliderBg>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Categories</h4>
            <a class="btn btn-primary" asp-action="create">Create</a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sekil</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="~/img/@item.ImageUrl" style="width:100px;height:100px;" /></td>
                                <td>
                                 <a class="btn btn-success" asp-action="details" asp-route-id="@item.Id">Details</a>
                                 <form method="post" asp-action="delete">
                                        <input type="hidden" name="id" value="@item.Id"/>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                 </form>
                              
                                <a class="btn btn-warning" asp-action="update" asp-route-id="@item.Id">Update</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>